asarPy==1.0.1
asgiref==3.7.2
cffi==1.17.1
colorama==0.4.6
cryptography==44.0.2
debugpy==1.8.13
Django==5.0.1
django-cors-headers==4.3.1
django-environ==0.11.2
pillow==11.1.0
plum-dispatch==1.7.4
pycparser==2.22
PyMySQL==1.1.0
pypng==0.20220715.0
python-decouple==3.8
qrcode==7.4.2
Spire.Barcode==7.2.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
