{% load static %}
<div class="modal-body" bs-focus="false">
   
    <form action="#"
    method="POST"
    class="tablelist-form"
    autocomplete="on"
  >
    {% csrf_token %}
        <div class="mb-3">
            {{formU.from_time}}
        </div>
        <div class="mb-3">
            {{formU.to_time}}
        </div>
        <div class="mb-3">
            {{formU.extra_rate}}
        </div>
       
        <input type="hidden" id="rate_id" name="rate_id" value={{id}}>
            <button type="button" class="btn btn-primary ">Save changes</button></br>
        
    </form>
</div>