{% load static %}
<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar-size="lg" data-sidebar="light"
      data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8"/>
    <title>Polymath Daycare - Admin & Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}">


    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css"/>

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'assets/images/logo.png' %}" alt="">
                        </span>
                            <span class="logo-lg">
                            <img src="{% static 'assets/images/logo.png' %}" alt="">
                        </span>
                        </a>

                        <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                        </span>
                            <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="17">
                        </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                            id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </button>


                </div>

                <div class="d-flex align-items-center">

                    <div class="dropdown d-md-none topbar-head-dropdown header-item">
                        <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="bx bx-search fs-22"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                             aria-labelledby="page-header-search-dropdown">
                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                               aria-label="Recipient's username">
                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dropdown ms-sm-3 header-item topbar-user">
                        <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                           <img class="rounded-circle header-profile-user"
                                src="{% static 'assets/images/hair-cut.gif' %}"
                                alt="Header Avatar">

                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{% block UserName %} {{ UserName }} {% endblock %}</span>
                                
                            </span>
                        </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <h6 class="dropdown-header">Welcome {{ UserName}}</h6>
                            
                            <a class="dropdown-item" href="{% url 'core:logout' %}"><i
                                    class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                    class="align-middle" data-key="t-logout">Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- removeNotificationModal -->
    <div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="NotificationModalbtn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                   colors="primary:#f7b84b,secondary:#f06548"
                                   style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Are you sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!
                        </button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Light Logo-->
            <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="assets/images/logo.png" alt="" height="17">
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboards" role="button"
                           aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="bx bxs-dashboard"></i> <span data-key="t-dashboards">Dashboard</span>
                        </a>

                    </li> <!-- end Dashboard Menu -->

                    <li class="nav-item">
                        <a href="#sidebarInvoices" class="nav-link" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarInvoices"> <i
                                class="mdi mdi-office-building"></i><span
                                data-key="t-invoices">
                            DayCare</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarMasterFiles">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">

                                <li class="nav-item">
                                    <a href="#sidebarEmail" class="nav-link" data-bs-toggle="collapse" role="button"
                                       aria-expanded="false" aria-controls="sidebarEmail"><i
                                            class="mdi mdi-file-document-multiple"></i><span data-key="t-email">
                                        Master Files</span>
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarEmail">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/child" class="nav-link"><i class="mdi mdi-human-child"></i>
                                                    <span data-key="t-mailbox">
                                                    Children </span> </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="/packages" class="nav-link"> <i
                                                        class="mdi mdi-table-clock"></i><span
                                                        data-key="t-mailbox"></span>
                                                    Packages </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/branches" class="nav-link"
                                                   role="button" aria-expanded="false"
                                                   aria-controls="sidebaremailTemplates"> <i
                                                        class="mdi mdi-office-building-marker"></i><span
                                                        data-key="t-email-templates">Branches</span>

                                                </a>

                                            </li>

                                        </ul>
                                    </div>
                                </li>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="sidebarEmail"><i
                             class="ri-file-damage-line"></i><span data-key="t-email">
                         Transaction Files</span>
                     </a>
                        <div class="collapse menu-dropdown" id="sidebarEmail">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/child" class="nav-link"><i class="ri-user-add-fill"></i>
                                        <span data-key="t-mailbox">
                                        Enrollment </span> </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/packages" class="nav-link"> <i
                                            class="ri-login-box-line"></i><span
                                            data-key="t-mailbox"></span>
                                        Check in </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/branches" class="nav-link"
                                       role="button" aria-expanded="false"
                                       aria-controls="sidebaremailTemplates"> <i
                                            class=" ri-logout-box-r-line"></i><span
                                            data-key="t-email-templates">Check out</span>

                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a href="/branches" class="nav-link"
                                       role="button" aria-expanded="false"
                                       aria-controls="sidebaremailTemplates"> <i
                                            class="las la-money-check-alt"></i><span
                                            data-key="t-email-templates">Generate invoice</span>

                                    </a>

                                </li>

                            </ul>
                        </div>
                        
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href=""
                           role="button"
                           aria-expanded="false" aria-controls="sidebarAdvanceUI">
                            <i class="bx bx-bar-chart-alt-2"></i> <span
                                data-key="t-advance-ui">Reports</span>
                        </a>
                    </li>

                    <li class="nav-item"> <a href="" class="nav-link" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="sidebarEmail"><i
                             class=" ri-settings-5-line"></i><span data-key="t-email">
                         Settings</span>
                     </a>
                    <div class="collapse menu-dropdown" id="sidebarEmail">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/setting" class="nav-link collapsed" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApexcharts" data-key="t-apexcharts"><i class="bx bx-money"></i>
                                    <span data-key="t-mailbox">
                                    Rates </span> </a>
                                    <div class="collapse menu-dropdown dropdown-custom-left" id="sidebarRates">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/rates/" class="nav-link" data-key="t-line"><i class="ri-exchange-dollar-line"></i> Base Chargers</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/additional_rates/" class="nav-link" data-key="t-area"><i class="ri-swap-fill"></i> Extra Chargers</a>
                                            </li>
                                            
                                           
                                        </ul>
                                    </div>
                            </li>

                            <li class="nav-item">
                                <a href="apps-mailbox.html" class="nav-link"> <i
                                        class="mdi mdi-table-clock"></i><span
                                        data-key="t-mailbox"></span>
                                    User settings </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebaremailTemplates" class="nav-link"
                                   role="button" aria-expanded="false"
                                   aria-controls="sidebaremailTemplates"> <i
                                        class="mdi mdi-office-building-marker"></i><span
                                        data-key="t-email-templates">Application Settings</span>

                                </a>

                            </li>

                        </ul>
                    </div>
                    </li>
                </ul>
            </div>
            </li>


            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">{% block pageTitle %} {% endblock %}</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">{% block Title %}{% endblock %}</li>
                                <li class="breadcrumb-item active">{% block functionTitle %}{% endblock %}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            {% block content %}
            {% endblock %}

        </div>

        <!-- container-fluid -->

    </div>
    {% block modals %}
    {% endblock %}
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script>
                    © Polymath Group.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Polymath IT Division
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

{% block scripts %}


    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>



    <!-- Dashboard init -->
    <script src="{% static 'assets/js/pages/dashboard-crm.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}
</body>

</html>