{% extends "base.html" %} {% load static %} {% block UserName %} {{ UserName}}
{% endblock %} {% block Title %} TRANSACTIONS {% endblock %} {% block functionTitle%}CHECK-IN/CHECK-OUT{% endblock %} {% block content %}

<!-- Data Table-->
<div class="card">
  <div class="card-header border-0">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0 flex-grow-1">Attendance</h5>
      <div class="flex-shrink-0">
        <div class="d-flex flex-wrap gap-2">
          <button
            class="btn btn-primary add-btn"
            data-bs-toggle="modal"
            data-bs-target="#showModalCreate"
          >
          <i class="ri-arrow-down-line"></i> In
          </button>

          <button
            class="btn btn-danger add-btn"
            data-bs-toggle="modal"
            data-bs-target="#showModalCreate"
          >
          <i class="ri-arrow-up-line"></i> Out
          </button>
          <button class="btn btn-soft-secondary" id="remove-actions">
            <i class="ri-delete-bin-2-line"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="alert alert-dismissible" role="alert">
      {% if messages %} {% for message in messages %}
      <!-- Danger Alert -->
      <div
        class="alert alert-{{ message.tags }} alert-dismissible border-2 bg-body-secondary fade show"
        role="alert"
      >
        <strong>
          <center>{{ message }}</center>
        </strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %}
      <!-- end row -->
    </div>
   
    <table id="attendanceList" class="table table-striped table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>Child</th>
          <th>Date</th>
          <th>Time</th>
         
        </tr>
      </thead>
    </table>
  
</div>
  <!-- end card-body -->
</div>

{% endblock %} {% block modals %}

<div
  class="modal fade zoomIn"
  id="showModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header p-3 bg-secondary-subtle">
        <h5 class="modal-title" id="exampleModalLabels">Add Child</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-target="#showModalCreate"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modalAdd"
        ></button>
      </div>
    </div>
  </div>
</div>

<!-- Settings Form -->
<div
  class="modal fade zoomIn"
  id="showModalCreate"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title">Enter the attendance log</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modal"
        ></button>
      </div>
      <form
        action="{% url 'core:save_Attendance' %}"
        method="post"
        class="tablelist-form"
        autocomplete="on"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-sm-4">{{form.child}}</div>
            <datalist id='children'></datalist>
            <div class="col-sm-4">{{form.date_logged}}</div>
            <div class="col-sm-4">{{form.time_logged}}</div>
        </div>
        </div>
        <div class="modal-footer" style="display: block">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-secondary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




<!--Update Form-->
<div
  class="modal fade zoomIn"
  id="showUpdateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header p-3 bg-secondary-subtle">
        <h5 class="modal-title">Update base rate details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-upmodal"
        ></button>
      </div>
      <div id="modelForm" bs-focus="false"></div>
    </div>
  </div>
</div>


{% endblock %} {% block scripts %}
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<!-- flatpickr -->
<script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>

<script>
  var $ = jQuery;
  var id;
  var dataTable;

  jQuery(document).ready(function () {

// Load the Child into the text box
jQuery.ajax({
      type: "GET",
      url: "{% url 'core:view_child_j' %}",
      beforeSend: function () {},
      success: function (response) {
        console.log(response);
        for (var i in response) {
            child = response[i];
            jQuery("#children").append(`<option value="${child.admission_number}">${child.child_first_name + " - " + child.child_last_name}</option>`);
          }
      },
      error: function (xhr, textStatus, errorThrown) {
        alert("Error: " + xhr.status + ", " + xhr.statusText);
      },
    });


    window.setTimeout(function () {
      // Select the inner div with the class "alert" inside the outer div with class "flex-shrink-0"
      var alertDiv = jQuery(".alert");

      // Check if the inner div contains a success message
      var successMessageFound = alertDiv.find(".alert-success").length > 0;

      // If a success message is found, apply the fade-out effect
      if (successMessageFound) {
        alertDiv.fadeTo(1000, 0).slideUp(1000, function () {
          jQuery(this).remove();
        });
      }
    }, 2000);

    var table = $("#attendanceList").DataTable({
      responsive: true,
      ajax: {
        processing: true,
        url: "{% url 'core:get_all_attendance_JS' %}",
        dataSrc: "",
      },
      columns: [
        { data: "child_name" },
        { data: "date_logged" },
        { data: "time_logged" },
        
      ],
      dom: "Bfrtip",
            pageLength: 50,

            buttons: ["excel", "print"],
      order: [[1, "asc"]], // Set default sorting by admission_date in descending order
    });
  });



  jQuery("#time_log").flatpickr({
    enableTime: true,
    noCalendar: true,
    enableSeconds: false,
    dateFormat: "H:i",
    allowInput: true,
  });

  jQuery("#showModal").on("hidden.bs.modal", function () {
    jQuery(this).find("form").trigger("reset");
  });

  var url = "";

  jQuery(document).on("click", ".link-success", function (e) {
    e.preventDefault();
    url = jQuery(this).attr("href");

    // Show the modal
    jQuery("#showUpdateModal").modal("show");

    // Load the form into the modal using AJAX
    jQuery.ajax({
      type: "GET",
      url: url,
      dataType: "html",
      success: function (data) {
        // Assuming you have a modal body with the id "updateModalBody"
        jQuery("#modelForm").html(data);
      },
      error: function (xhr, textStatus, errorThrown) {
        alert("Error: " + xhr.status + ", " + xhr.statusText);
      },
    });
  });

  jQuery(document).on("click", "#addRates", function (e) {
    e.preventDefault();
    url = jQuery(this).attr("href");
    id = jQuery(this).attr("data-id");

    // Show the modal
    jQuery("#rateModals").modal("show");

    // Load the form into the modal using AJAX
    jQuery.ajax({
      type: "GET",
      url: url,
      data: { rate_id: id },
      dataType: "html",
      success: function (data) {
        // Assuming you have a modal body with the id "updateModalBody"
        jQuery("#modelRateForm").html(data);
        jQuery("#effective_from").flatpickr();
      },
      error: function (xhr, textStatus, errorThrown) {
        alert("Error: " + xhr.status + ", " + xhr.statusText);
      },
    });
  });

  jQuery("secondButton").click(function () {
    window.parent.location = window.parent.location.href;
  });

  jQuery(document).on("click", "#additionalLink", function (e) {
    dataTable.clear();
    id = jQuery(this).attr("data-id");
    jQuery.ajax({
      url: "{% url 'core:view_additional_rates_js' %}",
      type: "GET",
      data: { base_rate_id: id },
      beforeSend: function () {},
      success: function (response) {
        jQuery.each(response, function (i, item) {
          
          dataTable.row.add([
            response[i].slot_number_hour,
            response[i].extra_rate,
            response[i].effective_from,
            response[i].effective_to,
          ]);
        });

        dataTable.draw();
      },
      error: function (response) {
        console.log(response);
      },
    });
  });

  jQuery(document).on("click", "#historyLink", function (e) {
    dataTable.clear();
    id = jQuery(this).attr("data-id");
    jQuery.ajax({
      url: "{% url 'core:view_rates_rate_js' %}",
      type: "GET",
      data: { rate_id: id },
      beforeSend: function () {},
      success: function (response) {
        jQuery.each(response, function (i, item) {
          
          dataTable.row.add([
            response[i].standard_hourly_rate,
            response[i].effective_from,
            response[i].effective_to,
            response[i].is_active,
          ]);
        });

        dataTable.draw();
      },
      error: function (response) {
        console.log(response);
      },
    });
  });
  
  jQuery("#showModalCreate").on("hidden.bs.modal", function () {
        jQuery(this).find("form").trigger("reset");

    });

    // Add an event listener to the "to_time" field
        jQuery(document).on('change', '#to_time',function () {
            
            // Get the values of "from_time" and "to_time"
            var fromTime = jQuery('#from_time').val();
            var toTime = jQuery(this).val();
           

            // Make an Ajax request to calculate the duration
            jQuery.ajax({
                url: "{% url 'core:calculate_duration' %}",
                method: 'GET',
                data: {
                    'from_time': fromTime,
                    'to_time': toTime,
                },
                success: function (data) {
                    // Combine hours and minutes with a dot separator
                var durationFormatted = data.duration_hours + '.' + (data.duration_minutes < 10 ? '0' : '') + data.duration_minutes;

                    // Update the "no_hours" field with the formatted duration
                jQuery('#no_hours').val(durationFormatted);
                },
                error: function () {
                    console.error('Error calculating duration.');
                }
            });
        });

</script>

<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}
