{% extends "base.html" %}
{% load static %}
{% block UserName %} {{ UserName }} {% endblock %}
{% block Title %} CHILD {% endblock %}
{% block functionTitle %} REGISTRATION{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Child Details</h4>
                <div class="flex-shrink-0">

                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row gy-4">
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">Admission No</label>
                                {{form.admission_number}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">Admission Date</label>
                                {{form.admission_date}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">Receipt Number</label>
                                {{form.recipt_number}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">A Polymath student?</label></br>
                                {{form.is_polymath_student}}


                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">First name</label>
                                {{form.child_first_name}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">Last name</label>
                                {{form.child_last_name}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label class="form-label">Date of birth</label>
                                {{form.date_of_birth}}
                            </div>
                        </div>
                        <!--end col-->

                        <!--end col-->


                    </div>
                    <!--end row-->
                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Parent's Details</h4>
                <div class="flex-shrink-0">

                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row gy-4">

                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Father's name</label>
                                {{form.fathers_name}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Father's contact number</label>
                                {{form.fathers_contact_number}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Father's whatsapp number</label>
                                {{form.fathers_whatsapp_number}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Mother's name</label>
                                {{form.mothers_name}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-4">
                            <div>
                                <label class="form-label">Mother's contact number</label>
                                {{form.mothers_contact_number}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-4">
                            <div>
                                <label class="form-label">Mother's whatsapp number</label>
                                {{form.mothers_whatsapp_number}}
                            </div>
                        </div>
                        <!--end col-->

                    </div>
                    <!--end row-->
                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Contact Details</h4>
                <div class="flex-shrink-0">

                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row gy-4">

                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Residence phone number</label>
                                {{form.resident_contact_number}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Address line 1</label>
                                {{form.address_line1}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Address Line 2</label>
                                {{form.address_line2}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class=" col-md-4">
                            <div>
                                <label class="form-label">Address line 3</label>
                                {{form.address_line3}}
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-4">
                            <div>
                                <label class="form-label">Email</label>
                                {{form.email_address}}
                            </div>
                        </div>
                        <!--end col-->
                        <!-- Base Buttons -->


                    </div>
                    <!--end row-->

                </div>
            </div>
            <div>

            </div>

        </div>

    </div>
    <!--end col-->
    <div class="row">
        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
            <button class="btn btn-outline-primary btn-border">Primary</button>
            <button class="btn btn-outline-secondary btn-border">Secondary</button>
            <button class="btn btn-outline-success btn-border">Success</button>
            <button class="btn btn-soft-warning btn-border">Warning</button>
            <button class="btn btn-soft-danger btn-border">Danger</button>
            <button class="btn btn-soft-dark btn-border">Dark</button>
        </div>
    </div>
</div>{% endblock %}