{% extends "base.html" %} {% load static %} {% block UserName %} {{ UserName}}
{% block PageTitle %}>Enrollments{% endblock %}
{% endblock %} {% block Title %} SETTINGS {% endblock %} {% block functionTitle%}ENROLLMENT{% endblock %} {% block content %}

<!-- Data Table-->
<div class="card">
  <div class="card-header border-0">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0 flex-grow-1">Enrollments</h5>
      <div class="flex-shrink-0">
        <div class="d-flex flex-wrap gap-2">
          
          <button class="btn btn-soft-secondary" id="remove-actions">
            <i class="ri-delete-bin-2-line"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="alert alert-dismissible" role="alert">
      {% if messages %} {% for message in messages %}
      <!-- Danger Alert -->
      <div class="alert alert-{{ message.tags }} alert-dismissible border-2 bg-body-secondary fade show" role="alert">
        <strong>
          <center>{{ message }}</center>
        </strong>
        <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %} {% endif %}
      <!-- end row -->
    </div>

   
    <table id="enrollmentList" class="table table-striped table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>Enrollment code</th>
          <th>Enrollment date</th>
          <th>Child</th>
          <th>Package</th>
          <th>Holiday package</th>
          <th>Branch</th>
          <th>Center</th>
          <th>Discount</th>
          <th>Application status</th>
          <th>Is active</th>
          <th data-orderable="false"></th>
          <th data-orderable="false"></th>
        </tr>
      </thead>
    </table>

  </div>
  <!-- end card-body -->
</div>

{% endblock %} {% block modals %}

<div
  class="modal fade zoomIn"
  id="showModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header p-3 bg-secondary-subtle">
        <h5 class="modal-title" id="exampleModalLabels">New Enrollment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-target="#showModalCreate"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modalAdd"
        ></button>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal Form -->
<div
  class="modal fade zoomIn"
  id="showModalCreate"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title">New Enrollmentp</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modal"
        ></button>
      </div>
      <form
        action="{% url 'core:save_enrollments' %}"
        method="post"
        class="tablelist-form"
        autocomplete="on"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-sm-4">{{form.enrollment_code}}</div>
            <div class="col-sm-4">{{form.enrollment_date}}</div>
            <div class="col-sm-4">{{form.child}}</div>
            <div class="col-sm-4">{{form.branch}}</div>
            <div class="col-sm-4">{{form.dayCare}}</div>
            <datalist id='branches'>
              
           </datalist>

            <!-- <div class="col-sm-4">{{form.dayCare}}</div> -->
            <div class="col-sm-4">{{form.normal_package}}</div>
            <div class="col-sm-4">{{form.holiday_package}}</div>
            <div class="col-sm-4">{{form.discount}}</div>
            <div class="col-sm-4">{{form.recipt_number}}</div>
          </div>
        </div>

        <div class="modal-footer" style="display: block">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-secondary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Additional Rates Form-->
<div
  id="flipModal"
  class="modal fade flip"
  tabindex="-1"
  aria-labelledby="flipModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flipModalLabel">Extra hour rates</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <table id="AdditionalRateList" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>Slot (hr)</th>
                <th>Rate</th>
                <th>Effective from</th>
                <th>Effective to</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!--Rate History pop-up-->
<div
  id="historyModal"
  class="modal fade flip"
  tabindex="-1"
  aria-labelledby="flipModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flipModalLabel">Rate History</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <table id="RateHistoryList" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>Rate (hr)</th>
                <th>Effective from</th>
                <th>Effective to</th>
                <th>Status</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!--Update Form-->
<div
  class="modal fade zoomIn"
  id="showUpdateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header p-3 bg-secondary-subtle">
        <h5 class="modal-title">Update base rate details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-upmodal"
        ></button>
      </div>
      <div id="modelForm" bs-focus="false"></div>
    </div>
  </div>
</div>

<!--Rate Form-->
<div
  id="rateModals"
  class="modal fade zoomIn"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 overflow-hidden">
      <div class="modal-header p-3">
        <h4 class="card-title mb-0">Set rates</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="alert alert-danger rounded-0 mb-0">
        <p class="mb-0">
          <center>
            <strong
              >Please note that this operation will change the rates for all
              pcakages associated with this base rate from the selected
              effective date.</strong
            >
          </center>
        </p>
      </div>
      <div id="modelRateForm" bs-focus="false"></div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% endblock %} {% block scripts %}
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<!-- flatpickr -->
<script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>

<script>
  var $ = jQuery;
  var id;
  var dataTable;

  jQuery(document).ready(function () {
    window.setTimeout(function () {
      // Select the inner div with the class "alert" inside the outer div with class "flex-shrink-0"
      var alertDiv = jQuery(".alert");

      // Check if the inner div contains a success message
      var successMessageFound = alertDiv.find(".alert-success").length > 0;

      // If a success message is found, apply the fade-out effect
      if (successMessageFound) {
        alertDiv.fadeTo(1000, 0).slideUp(1000, function () {
          jQuery(this).remove();
        });
      }
    }, 2000);

    var table = $("#enrollmentList").DataTable({
      ajax: {
        processing: true,
        url: "{% url 'core:get_all_enrollments_js' %}",
        dataSrc: "",
      },
      columns: [
        { data: "enrollment_code" },
        { data: "enrollment_date" },
        { data: "child_name"},
        { data: "normal_package_name" },
        { data: "holiday_package_name" },
        { data: "branch_name" },
        { data: "center_name" },
        { data: "discount_name" },
        { data: "status" },
        { data: "is_active" },
        {
          data: null,
          render: function (data, type, row) {
            var url = "{% url 'core:approve_enrollments'  %}";
            id = row.id;
            //url = url.replace(0, id);
            return (data =
              "<a href=" +
              url +
              ' class="link-success"  data-id="'+ id +'" data-bs-toggle="modal"  data-bs-dismiss="modal" role="button"><i class="mdi mdi-check-circle"></i></a>');
          },
          
        },
        {
          data: null,
          render: function (data, type, row) {
            var url = "{% url 'core:reject_enrollments' %}";
            id = row.id;
            //url = url.replace(0, id);
            return (data =
              "<a href=" +
              url +
              ' class="link-danger"  data-id="'+ id +'" data-bs-toggle="modal"  data-bs-dismiss="modal" role="button"><i class="mdi mdi-close-box"></i></a>');
          },
        },
      ],

      createdRow: function (row, data, dataIndex) {
        // Combining all the address fields

        if (data.is_active) {
          $("td", row).eq(9).html('<span class="badge bg-success">Yes</span>');
        } else {
          $("td", row).eq(9).html('<span class="badge bg-warning">No</span>');
        }

        if (data.status =='Approved')
        {
        $("td", row).eq(8).html('<span class="badge bg-success">'+data.status +'</span>');
        $("td", row).eq(10).html('');
        $("td", row).eq(11).html('');

        }

        if (data.status =='Rejected')
        {
        $("td", row).eq(8).html('<span class="badge bg-danger">'+data.status +'</span>');
        $("td", row).eq(10).html('');
        $("td", row).eq(11).html('');
        }

        if (data.status =='Pending Approval')
        {
        $("td", row).eq(8).html('<span class="badge bg-warning">'+data.status +'</span>');
        }

        




      },

      searching: false,
      paging: false,
      order: [[0, "asc"]], // Set default sorting by admission_date in descending order
    });
  });

  jQuery("#from_time").flatpickr({
    enableTime: true,
    noCalendar: true,
    enableSeconds: false,
    dateFormat: "H:i",
    allowInput: true,
  });

  jQuery("#to_time").flatpickr({
    enableTime: true,
    noCalendar: true,
    enableSeconds: false,
    dateFormat: "H:i",
    allowInput: true,
  });

  jQuery("#showModal").on("hidden.bs.modal", function () {
    jQuery(this).find("form").trigger("reset");
  });

  var url = "";

  jQuery(document).on("click", ".link-success", function (e) {
    e.preventDefault();
    url = jQuery(this).attr("href");
    id = jQuery(this).attr("data-id");
 
   // Load the form into the modal using AJAX
    jQuery.ajax({
      type: "GET",
      url: url,
      data: { id: id },
      dataType: "html",
      success: function (data) {
        window.parent.location = window.parent.location.href;
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log("Error: " + xhr.status + ", " + xhr.statusText);
      },
    });
  });


  jQuery(document).on("click", ".link-danger", function (e) {
    e.preventDefault();
    url = jQuery(this).attr("href");
    id = jQuery(this).attr("data-id");
 
   // Load the form into the modal using AJAX
    jQuery.ajax({
      type: "GET",
      url: url,
      data: { id: id },
      dataType: "html",
      success: function (data) {
        window.parent.location = window.parent.location.href;
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log("Error: " + xhr.status + ", " + xhr.statusText);
      },
    });
  });


 jQuery("secondButton").click(function () {
    window.parent.location = window.parent.location.href;
  });

  
  jQuery("#showModalCreate").on("hidden.bs.modal", function () {
    jQuery(this).find("form").trigger("reset");
  });

  jQuery("#branch").change(function () {
    var branchID = jQuery(this).val();

//////This section will reset the daycare option valuses to initial///////////
    $('#dayCare')
    .find('option')
    .remove()
    .end()
    .append('<option value="">-Select daycare-</option>');
//////////////////////////////////////////////////////////////////////////////
    
    if (branchID) {
      jQuery.ajax({
        url: "{% url 'core:get_daycares_by_branch_js' %}",
        type: "GET",
        data: { id: branchID },
        beforeSend: function () {},
        success: function (response) {
          
         

          for (var i in response) {
            center = response[i];
            console.log(center.daycare_code + "-" + center.daycare_name)
            jQuery("#branches").append(`<option value="${center.daycare_code}">${center.daycare_code + "-" + center.daycare_name}</option>`);
          }
        },
      });
    } 
  });


</script>

<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}
