{% extends "base.html" %} {% load static %} {% block UserName %} {{ UserName}}
{% endblock %} {% block Title %} SETTINGS {% endblock %} {% block functionTitle%}ENROLLMENT{% endblock %} {% block content %}

<!-- Data Table-->
<div class="card">
  <div class="card-header border-0">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0 flex-grow-1">Enrollments</h5>
      <div class="flex-shrink-0">
        <div class="d-flex flex-wrap gap-2">
          <button
            class="btn btn-secondary add-btn"
            data-bs-toggle="modal"
            data-bs-target="#showModalCreate"
          >
            <i class="ri-add-line align-bottom me-1"></i> Add new enrollment
          </button>
          <button class="btn btn-soft-secondary" id="remove-actions">
            <i class="ri-delete-bin-2-line"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="alert alert-dismissible" role="alert">
      {% if messages %} {% for message in messages %}
      <!-- Danger Alert -->
      <div
        class="alert alert-{{ message.tags }} alert-dismissible border-2 bg-body-secondary fade show"
        role="alert"
      >
        <strong>
          <center>{{ message }}</center>
        </strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %}
      <!-- end row -->
    </div>

    <table id="enrollmentList" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>Enrollment code</th>
          <th>Enrollment date</th>
          <th>Child</th>
          <th>Package</th>
          <th>Holiday package</th>
          <th>Branch</th>
          <th>Center</th>
          <th>Discount</th>
          <th>Application status</th>
          <th>Is active</th>
          <th data-orderable="false"></th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- end card-body -->
</div>

{% endblock %} {% block modals %}

<div
  class="modal fade zoomIn"
  id="showModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header p-3 bg-secondary-subtle">
        <h5 class="modal-title" id="exampleModalLabels">New Enrollment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-target="#showModalCreate"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modalAdd"
        ></button>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal Form -->
<div
  class="modal fade zoomIn"
  id="showModalCreate"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title">New Enrollmentp</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modal"
        ></button>
      </div>
      <form
        action="{% url 'core:save_enrollments' %}"
        method="post"
        class="tablelist-form"
        autocomplete="on"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-sm-4">{{form.enrollment_code}}</div>
            <div class="col-sm-4">{{form.enrollment_date}}</div>
            <div class="col-sm-4">{{form.child}}</div>
            <div class="col-sm-4">{{form.branch}}</div>
            <div class="col-sm-4">{{form.dayCare}}</div>
            <datalist id='branches'>
              
           </datalist>

            <!-- <div class="col-sm-4">{{form.dayCare}}</div> -->
            <div class="col-sm-4">{{form.normal_package}}</div>
            <div class="col-sm-4">{{form.holiday_package}}</div>
            <div class="col-sm-4">{{form.discount}}</div>
            <div class="col-sm-4">{{form.recipt_number}}</div>
          </div>
        </div>

        <div class="modal-footer" style="display: block">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-secondary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Delete Form-->
<div
  id="deleteModals"
  class="modal fade zoomIn"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-body text-center p-5">
          <img
                  src="{% static 'assets/images/stop.gif' %}"
                  alt="alert"
                  width="100px"
                  height="100px"
          />
          <div class="mt-4 pt-4">
              <h4>You are about to delete this enrollment!</h4>
              <p class="text-muted">
                  Are you sure? 
              </p>
              <!-- Toogle to second dialog -->
              <button
                      class="btn btn-secondary"
                      data-bs-target="#firstmodal"
                      data-bs-toggle="modal"
                      data-bs-dismiss="modal"
              >
                  No
              </button>
              <button
                      name="btnModelDelete"
                      id="btnModelDelete"
                      class="btn btn-danger"
              >
                  Yes
              </button>
          </div>
      </div>
  </div>
</div>
  <!-- /.modal-dialog -->
</div>

<!-- Second modal dialog -->
<div
        class="modal fade"
        id="secondmodal"
        aria-hidden="true"
        aria-labelledby="..."
        tabindex="-1"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <img
                        src="{% static 'assets/images/done.gif' %}"
                        alt="alert"
                        width="75px"
                        height="75px"
                />
                <div class="mt-4 pt-3">
                    <h4 class="mb-3">Operation completed</h4>
                    <div class="hstack gap-2 justify-content-center">
                        <!-- Toogle to first dialog, `data-bs-dismiss` attribute can be omitted - clicking on link will close dialog anyway -->

                        <button
                                type="button"
                                id="secondButton"
                                class="btn btn-secondary"
                                onclick="location=URL"
                                data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<!-- flatpickr -->
<script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>

<script>
  var $ = jQuery;
  var id;
  var dataTable;
  var url;

  jQuery(document).ready(function () {
    window.setTimeout(function () {
      // Select the inner div with the class "alert" inside the outer div with class "flex-shrink-0"
      var alertDiv = jQuery(".alert");

      // Check if the inner div contains a success message
      var successMessageFound = alertDiv.find(".alert-success").length > 0;

      // If a success message is found, apply the fade-out effect
      if (successMessageFound) {
        alertDiv.fadeTo(1000, 0).slideUp(1000, function () {
          jQuery(this).remove();
        });
      }
    }, 2000);

    var table = $("#enrollmentList").DataTable({
      ajax: {
        processing: true,
        url: "{% url 'core:get_enrollments_js' %}",
        dataSrc: "",
      },
      columns: [
        { data: "enrollment_code" },
        { data: "enrollment_date" },
        { data: "child_name"},
        { data: "normal_package_name" },
        { data: "holiday_package_name" },
        { data: "branch_name" },
        { data: "center_name" },
        { data: "discount_name" },
        { data: "status" },
        { data: "is_active" },
        {
          data: null,
          render: function (data, type, row) {
            var url = "{% url 'core:enrollments_delete' 0 %}";
            id = row.id;
            url = url.replace(0, id);
            return (data =
              "<a href=" + url +' class="link-danger"  data-id=' + id + ' data-bs-target="#deleteModals"\
                data-bs-toggle="modal"  data-bs-dismiss="modal" role="button"><i class="ri-delete-bin-line"></i></a>');
          },
        },
      ],

      createdRow: function (row, data, dataIndex) {
        // Combining all the address fields

        if (data.is_active) {
          $("td", row).eq(9).html('<span class="badge bg-success">Yes</span>');
        } else {
          $("td", row).eq(9).html('<span class="badge bg-warning">No</span>');
        }

        $("td", row).eq(8).html('<span class="badge bg-warning">'+data.status +'</span>');
      },

      searching: false,
      paging: false,
      order: [[0, "asc"]], // Set default sorting by admission_date in descending order
    });
  });

  jQuery(document).on("click", ".link-danger", function () {
        url = jQuery(this).attr("href");

    });

  jQuery("#from_time").flatpickr({
    enableTime: true,
    noCalendar: true,
    enableSeconds: false,
    dateFormat: "H:i",
    allowInput: true,
  });

  jQuery("#to_time").flatpickr({
    enableTime: true,
    noCalendar: true,
    enableSeconds: false,
    dateFormat: "H:i",
    allowInput: true,
  });

  jQuery("#showModal").on("hidden.bs.modal", function () {
    jQuery(this).find("form").trigger("reset");
  });

  var url = "";

  jQuery(document).on("click", "#addRates", function (e) {
    e.preventDefault();
    url = jQuery(this).attr("href");
    id = jQuery(this).attr("data-id");

    // Show the modal
    jQuery("#rateModals").modal("show");

    // Load the form into the modal using AJAX
    jQuery.ajax({
      type: "GET",
      url: url,
      data: { rate_id: id },
      dataType: "html",
      success: function (data) {
        // Assuming you have a modal body with the id "updateModalBody"
        jQuery("#modelRateForm").html(data);
        jQuery("#effective_from").flatpickr();
      },
      error: function (xhr, textStatus, errorThrown) {
        alert("Error: " + xhr.status + ", " + xhr.statusText);
      },
    });
  });

  jQuery("secondButton").click(function () {
    window.parent.location = window.parent.location.href;
  });

  
  jQuery("#showModalCreate").on("hidden.bs.modal", function () {
    jQuery(this).find("form").trigger("reset");
  });

  jQuery("#branch").change(function () {
    var branchID = jQuery(this).val();

//////This section will reset the daycare option valuses to initial///////////
    $('#dayCare')
    .find('option')
    .remove()
    .end()
    .append('<option value="">-Select daycare-</option>');
//////////////////////////////////////////////////////////////////////////////
    
    if (branchID) {
      jQuery.ajax({
        url: "{% url 'core:get_daycares_by_branch_js' %}",
        type: "GET",
        data: { id: branchID },
        beforeSend: function () {},
        success: function (response) {
          
         

          for (var i in response) {
            center = response[i];
            console.log(center.daycare_code + "-" + center.daycare_name)
            jQuery("#branches").append(`<option value="${center.daycare_code}">${center.daycare_code + "-" + center.daycare_name}</option>`);
          }
        },
      });
    } 
  });

  jQuery("#btnModelDelete").click(function (e) {
        //e.preventDefault(); // prevent the default behavior of the anchor tag
        var $this = "";
        
        jQuery.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function (data) {
               // Optionally, you can also close the current modal
               jQuery("#deleteModals").modal("hide");
               
                // Open the second modal on success
                jQuery("#secondmodal").modal("show");

               
                
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("Error: " + xhr.status + ", " + xhr.statusText);
            },
        });
    });

</script>

<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}
